# Build-Ausgaben
build/
build-*/
out/
__pycache__/

# Visual Studio
.vs/
*.user
*.suo
*.aps
*.VC.db
*.VC.VC.opendb
ipch/
*.pdb
*.idb
*.ilk
*.obj
*.exp
*.lib
*.tlog

enc_temp_folder/1b27d55c9d4f942fe06c574282574535/config.jsonc

enc_temp_folder/
